/* @font-face {
    font-family: 'MyFont';
    src: url('./poppins/Poppins-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

.page {
    background-color: white;
    /* background-color: BLACK; */
    height: 100vh;
}

.header {
    /* color: aliceblue; */
    text-align: center;
    /* padding: 20px; */
}

#sub-logo {
    /* text-align: right; */
    color: gray;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    padding-top: 5px;
    /* padding-top: 10px; */
    /* margin-right: 18%; */
    padding-bottom: 10px;

}

#desktop-logo {
    font-family: 'Karla', sans-serif;
    font-weight: 750;
    font-size: 35px;

    /* font-size: 24; */
    /* color: BLUE; */
    /* font-style:;} */
    display: none;
    margin-bottom: 0;
    /* padding: 10; */
    padding-bottom: 0px;

}

#mobile-logo {
    font-family: 'Karla', sans-serif;
    font-weight: 750;
    font-size: 28px;
    padding: 0;
    margin-bottom: 0;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 10px; */
    width: 100%;
    /* margin: 0; */
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.faw {
    color: black;
    font-size: 16px;
    width: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.faw:hover {
    /* opacity: 75%; */
    transform: scale(1.1);

}

/* container */
.center {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: auto;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.pics {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
   }
   
   .pics:hover {
       opacity: 95%;
       cursor: pointer;
     }
   

/* tablet breakpoint */
@media (min-width:600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 15px;

    }
    .faw {
        width: 60px;
        font-size: 20px;
    }
    #mobile-logo {
        display: none;
    }
    #desktop-logo {
        display: block;
    }
    .pics {
        width: 300px;
        height: 300px;
       }
}

/* desktop breakpoint */
@media (min-width:900px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 15px;
    }
    #mobile-logo {
        display: none;
    }
    #desktop-logo {
        display: block;
    }
    .pics {
        width: 300px;
        height: 300px;
       }
}

