/* @font-face {
    font-family: 'MyFont';
    src: url('./poppins/Poppins-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

.page {
    background-color: white;
    /* background-color: BLACK; */
    height: 100vh;
}

.header {
    /* color: aliceblue; */
    text-align: center;
    /* padding: 20px; */
}

#sublogo {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    /* margin-right: 18%; */
}

#desktop-logo {
    font-family: 'Karla', sans-serif;
    font-weight: 750;
    font-size: 36px;

    /* font-size: 24; */
    /* color: BLUE; */
    /* font-style:;} */
    display: none;
    margin-bottom: 0;
    /* padding: 10; */
}

#mobile-logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    /* color: BLUE; */
    /* font-style:;} */ 
    /* margin: 0;
    padding: 0; */
}


.pics {
 width: 300px;
 height: 300px;
 /* padding: 5px; */
 /* border-radius: 2px; */
}

.pics:hover {
    opacity: 95%;
    cursor: pointer;
  }

.footer{
    /* color: aliceblue; */
    padding: 30px;
    text-align: center;
}

.faw {
    color: black;
    /* padding: 20px; */
    font-size: 20px;
    width: 40px;
    text-decoration: none;
    /* margin: 5px 80px; */
}

.faw:hover {
    opacity: 90%;
}

/* container */
.center {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: auto;
    gap: 16px;
}

/* tablet breakpoint */
@media (min-width:600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .faw {
        width: 60px;
    }
    #mobile-logo {
        display: none;
    }
    #desktop-logo {
        display: block;
    }
}

/* tablet breakpoint */
@media (min-width:900px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .faw {
        width: 60px;
    }
    #mobile-logo {
        display: none;
    }
    #desktop-logo {
        display: block;
    }
}

